* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

#calculator {
    height: 70%;
    border: 3px black solid;
    border-radius: 50px;
    margin: 10px auto;
}

#title{
    margin: 3%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#display {
    border: 1px black solid; 
    border-radius: 20px;
    height: 20%;
    margin: 5%;
}

.row {
    /*border: 1px green solid;*/
    height: 16.5%;
    margin: 2% 4%;
    display: flex;
    justify-content: space-between;
}

.buttons {
    border: 1px black solid;
    width: 23%;
    border-radius: 30px;
}